<li lang="cplusplus">
    <a href="{{ site.dcv_cpp }}" class="otherLinkColour">C++ Edition Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-cpp.html" -%}
<li lang="dotnet">
    <a href="{{ site.dcv_dotnet }}" class="otherLinkColour">Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-dotnet.html" -%}
