<li lang="cplusplus">
    <a href="{{ site.dcvb_cpp }}" class="otherLinkColour">Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath lang="cplusplus" targetRelativePath="sidelist-programming/programming-cpp.html" -%}
<li lang="dotnet">
    <a href="{{ site.dcvb_dotnet }}" class="otherLinkColour">Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath lang="dotnet" targetRelativePath="sidelist-programming/programming-dotnet.html" -%}
<li lang="python">
    <a href="{{ site.dcvb_python }}" class="otherLinkColour">Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath lang="python" targetRelativePath="sidelist-programming/programming-python.html" -%}
<li lang="java">
    <a href="{{ site.dcvb_java }}" class="otherLinkColour">Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath lang="python" targetRelativePath="sidelist-programming/programming-java.html" -%}
