<li lang="cplusplus" class="category">DEVELOPMENT</li>

<li lang="cplusplus" ><a style="cursor:pointer;color:#3c3c3c">API Reference</a>
    <ul lang="cplusplus">
        <li lang="cplusplus"><a style="cursor:pointer;color:#3c3c3c">dynamsoft::cvr</a>
            <ul lang="cplusplus">
                <li lang="cplusplus"><a href="{{ site.cpp_api }}capture-vision-router/capture-vision-router.html" class="otherLinkColour">CCaptureVisionRouter</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}capture-vision-router/capture-state-listener.html" class="otherLinkColour">CCaptureStateListener</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}capture-vision-router/captured-result-receiver.html" class="otherLinkColour">CCpaturedResultReceiver</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}capture-vision-router/image-source-state-listener.html" class="otherLinkColour">CImageSourceStateListener</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}capture-vision-router/raw-image-result-item.html" class="otherLinkColour">CRawImageResultItem</a></li>
            </ul>
        </li>
        <li lang="cplusplus"><a style="cursor:pointer;color:#3c3c3c">dynamsoft::core::basic_structures</a>
            <ul lang="cplusplus">
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/image-source-adapter.html" class="otherLinkColour">CImageSourceAdapter</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/captured-result-item.html" class="otherLinkColour">CCapturedResultItem</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/captured-result.html" class="otherLinkColour">CCapturedResult</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/captured-result-array.html" class="otherLinkColour">CCapturedResultArray</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/point.html" class="otherLinkColour">CPoint</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/rect.html" class="otherLinkColour">CRect</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/quadrilateral.html" class="otherLinkColour">CQuadrilateral</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/line-segment.html" class="otherLinkColour">CLineSegment</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/contour.html" class="otherLinkColour">CContour</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/corner.html" class="otherLinkColour">CCorner</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/edge.html" class="otherLinkColour">CEdge</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/image-data.html" class="otherLinkColour">CImageData</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/image-tag.html" class="otherLinkColour">CImageTag</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/file-image-tag.html" class="otherLinkColour">CFileImageTag</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/video-frame-tag.html" class="otherLinkColour">CVideoFrameTag</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/pdf-reading-parameter.html" class="otherLinkColour">CPDFReadingParameter</a></li>

            </ul>
        </li>
        <li lang="cplusplus"><a style="cursor:pointer;color:#3c3c3c">dynamsoft::core::intermediate_results</a>
            <ul lang="cplusplus">
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/binary-image-unit.html" class="otherLinkColour">CBinaryImageUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/colour-image-unit.html" class="otherLinkColour">CColourImageUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/contours-unit.html" class="otherLinkColour">CContoursUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/enhanced-grayscale-image-unit.html" class="otherLinkColour">CEnhancedGrayscaleImageUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/grayscale-image-unit.html" class="otherLinkColour">CGrayscaleImageUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/intermediate-result-manager.html" class="otherLinkColour">CIntermediateResultManager</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/intermediate-result-receiver.html" class="otherLinkColour">CIntermediateResultReceiver</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/intermediate-result-unit.html" class="otherLinkColour">CIntermediateResultUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/line-segments-unit.html" class="otherLinkColour">CLineSegmentsUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/predetected-regions-unit.html" class="otherLinkColour">CPredetectedRegionsUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/predetected-region-element.html" class="otherLinkColour">CPredetectedRegionElement</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/region-object-element.html" class="otherLinkColour">CRegionObjectElement</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/scaled-down-colour-image-unit.html" class="otherLinkColour">CScaledDownColourImageUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/text-removed-binary-image-unit.html" class="otherLinkColour">CTextRemovedBinaryImageUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/text-zones-unit.html" class="otherLinkColour">CTextZonesUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/texture-detection-result-unit.html" class="otherLinkColour">CTextureDetectionResultUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/texture-removed-binary-image-unit.html" class="otherLinkColour">CTextureRemovedBinaryImageUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/texture-removed-grayscale-image-unit.html" class="otherLinkColour">CTextureRemovedGrayscaleImageUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/transformed-grayscale-image-unit.html" class="otherLinkColour">CTransformedGrayscaleImageUnit</a></li>
            </ul>
        </li>
        <li lang="cplusplus"><a style="cursor:pointer;color:#3c3c3c">dynamsoft::license</a>
            <ul lang="cplusplus">
                <li lang="cplusplus"><a href="{{ site.cpp_api }}license/license-manager.html" class="otherLinkColour">CLicenseManger</a></li>
            </ul>
        </li>
        <li lang="cplusplus"><a style="cursor:pointer;color:#3c3c3c">dynamsoft::utility</a>
            <ul lang="cplusplus">
                <li lang="cplusplus"><a href="{{ site.cpp_api }}utility/directory-fetcher.html" class="otherLinkColour">CDirectoryFetcher</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}utility/proactive-image-source-adapter.html" class="otherLinkColour">CProactiveImageSourceAdapter</a></li>
            </ul>
        </li>
    </ul>
</li>
