<li lang="cplusplus" class="category">DEVELOPMENT</li>
<li lang="cplusplus"><a style="cursor:pointer;color:#3c3c3c">User Guide</a>
    <ul lang="cplusplus">
        <li lang="cplusplus"><a href="{{ site.cpp }}user-guide/" style="cursor:pointer;color:#3c3c3c">Get Started</a></li>
    </ul>
</li>
<li lang="cplusplus"><a style="cursor:pointer;color:#3c3c3c">API Reference</a>
    <ul lang="cplusplus">
        <li lang="cplusplus"><a href="{{ site.cpp_api }}capture-vision-router/capture-vision-router.html" class="otherLinkColour">CCaptureVisionRouter</a>
            <ul lang="cplusplus">
                <li lang="cplusplus"><a href="{{ site.cpp_api }}capture-vision-router/instantiate.html"  class="otherLinkColour">Constructor and Destructor</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}capture-vision-router/single-file-processing.html"  class="otherLinkColour">Single-File Processing</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}capture-vision-router/multiple-file-processing.html"  class="otherLinkColour">Multiple-File Processing</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}capture-vision-router/settings.html"  class="otherLinkColour">Settings</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}capture-vision-router/intermediate-result.html"  class="otherLinkColour">Intermediate Result</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}capture-vision-router/auxiliary-methods.html"  class="otherLinkColour">Auxiliary</a></li>
            </ul>
        </li>
        <li lang="cplusplus"><a href="{{ site.cpp_api }}capture-vision-router/capture-vision-router.html" class="otherLinkColour">Input</a>
            <ul lang="cplusplus">
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/image-source-adapter.html" class="otherLinkColour">CImageSourceAdapter</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}utility/directory-fetcher.html" class="otherLinkColour">CDirectoryFetcher</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}utility/proactive-image-source-adapter.html" class="otherLinkColour">CProactiveImageSourceAdapter</a></li>
            </ul>
        </li>
        <li lang="cplusplus"><a href="{{ site.cpp_api }}capture-vision-router/capture-vision-router.html" class="otherLinkColour">Final Result</a>
            <ul lang="cplusplus">                
                <li lang="cplusplus"><a href="{{ site.cpp_api }}capture-vision-router/captured-result-receiver.html" class="otherLinkColour">CCapturedResultReceiver</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/captured-result-item.html" class="otherLinkColour">CCapturedResultItem</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/captured-result.html" class="otherLinkColour">CCapturedResult</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/captured-result-array.html" class="otherLinkColour">CCapturedResultArray</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}capture-vision-router/auxiliary-classes/raw-image-result-item.html"  class="otherLinkColour">CRawImageResultItem</a></li>
                <li lang="cplusplus"><a href="{{ site.dbr_cpp_api }}barcode-result-item.html" class="otherLinkColour">CBarcodeResultItem</a></li>
                <li lang="cplusplus"><a href="{{ site.dbr_cpp_api }}decoded-barcodes-result.html" class="otherLinkColour">CDecodedBarcodesResult</a></li>
                <li lang="cplusplus"><a href="{{ site.dbr_cpp_api }}decoded-barcodes-result-array.html" class="otherLinkColour">CDecodedBarcodesResultArray</a></li>
                <li lang="cplusplus"><a href="{{ site.dlr_cpp_api }}text-line-result-item.html" class="otherLinkColour">CTextLineResultItem</a></li>
                <li lang="cplusplus"><a href="{{ site.dlr_cpp_api }}recognized-text-lines-result.html" class="otherLinkColour">CRecognizedTextLinesResult</a></li>
                <li lang="cplusplus"><a href="{{ site.dlr_cpp_api }}recognized-text-lines-result-array.html" class="otherLinkColour">CRecognizedTextLinesResultArray</a></li>
                <li lang="cplusplus"><a href="{{ site.ddn_cpp_api }}detected-quad-result-item.html" class="otherLinkColour">CDetectedQuadResultItem</a></li>
                <li lang="cplusplus"><a href="{{ site.ddn_cpp_api }}detected-quads-result.html" class="otherLinkColour">CDetectedQuadsResult</a></li>
                <li lang="cplusplus"><a href="{{ site.ddn_cpp_api }}detected-quads-result-array.html" class="otherLinkColour">CDetectedQuadsResultArray</a></li>
                <li lang="cplusplus"><a href="{{ site.ddn_cpp_api }}normalized-image-result-item.html" class="otherLinkColour">CNormalizedImageResultItem</a></li>
                <li lang="cplusplus"><a href="{{ site.ddn_cpp_api }}normalized-image-result.html" class="otherLinkColour">CNormalizedImagesResult</a></li>
                <li lang="cplusplus"><a href="{{ site.ddn_cpp_api }}normalized-images-result-array.html" class="otherLinkColour">CNormalizedImagesResultArray</a></li>
                <li lang="cplusplus"><a href="{{ site.dcp_cpp_api }}parsed-result-item.html" class="otherLinkColour">CParsedResultItem</a></li>
                <li lang="cplusplus"><a href="{{ site.dcp_cpp_api }}parsed-result.html" class="otherLinkColour">CParsedResult</a></li>
                <li lang="cplusplus"><a href="{{ site.dlr_cpp_api }}character-result.html" class="otherLinkColour">CCharacterResult</a></li>
            </ul>
        </li>
        <li lang="cplusplus"><a style="cursor:pointer;color:#3c3c3c">Intermediate Results</a>
            <ul lang="cplusplus">                
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/intermediate-result-manager.html" class="otherLinkColour">CIntermediateResultManager</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/intermediate-result-receiver.html" class="otherLinkColour">CIntermediateResultReceiver</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/intermediate-result.html" class="otherLinkColour">CIntermediateResult</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/intermediate-result-unit.html" class="otherLinkColour">CIntermediateResultUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/predetected-regions-unit.html" class="otherLinkColour">CPredetectedRegionsUnit</a></li>                
                <li lang="cplusplus"><a href="{{ site.dbr_cpp_api }}localized-barcodes-unit.html" class="otherLinkColour">CLocalizedBarcodesUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.dbr_cpp_api }}decoded-barcodes-unit.html" class="otherLinkColour">CDecodedBarcodesUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.dlr_cpp_api }}localized-text-lines-unit.html" class="otherLinkColour">CLocalizedTextLinesUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.dlr_cpp_api }}recognized-text-lines-unit.html" class="otherLinkColour">CRecognizedTextLinesUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.ddn_cpp_api }}detected-quads-unit.html" class="otherLinkColour">CDetectedQuadsUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.ddn_cpp_api }}normalized-image-unit.html" class="otherLinkColour">CNormalizedImageUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/binary-image-unit.html" class="otherLinkColour">CBinaryImageUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/colour-image-unit.html" class="otherLinkColour">CColourImageUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/contours-unit.html" class="otherLinkColour">CContoursUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/enhanced-grayscale-image-unit.html" class="otherLinkColour">CEnhancedGrayscaleImageUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/grayscale-image-unit.html" class="otherLinkColour">CGrayscaleImageUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/line-segments-unit.html" class="otherLinkColour">CLineSegmentsUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/scaled-down-colour-image-unit.html" class="otherLinkColour">CScaledDownColourImageUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/text-removed-binary-image-unit.html" class="otherLinkColour">CTextRemovedBinaryImageUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/text-zones-unit.html" class="otherLinkColour">CTextZonesUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/texture-detection-result-unit.html" class="otherLinkColour">CTextureDetectionResultUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/texture-removed-binary-image-unit.html" class="otherLinkColour">CTextureRemovedBinaryImageUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/texture-removed-grayscale-image-unit.html" class="otherLinkColour">CTextureRemovedGrayscaleImageUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/transformed-grayscale-image-unit.html" class="otherLinkColour">CTransformedGrayscaleImageUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.dbr_cpp_api }}candidate-barcode-zones-unit.html" class="otherLinkColour">CCandidateBarcodeZonesUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.dbr_cpp_api }}complemented-barcode-image-unit.html" class="otherLinkColour">CComplementedBarcodeImageUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.dbr_cpp_api }}deformation-resisted-barcode-image-unit.html" class="otherLinkColour">CDeformationResistedBarcodeImageUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.dbr_cpp_api }}scaled-up-barcode-image-unit.html" class="otherLinkColour">CScaledUpBarcodeImageUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.ddn_cpp_api }}candidate-quad-edges-unit.html" class="otherLinkColour">CCandidateQuadEdgesUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.ddn_cpp_api }}corners-unit.html" class="otherLinkColour">CCornersUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.ddn_cpp_api }}long-lines-unit.html" class="otherLinkColour">CLongLinesUnit</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/region-object-element.html" class="otherLinkColour">CRegionObjectElement</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/intermediate-results/predetected-region-element.html" class="otherLinkColour">CPredetectedRegionElement</a></li>
                <li lang="cplusplus"><a href="{{ site.dbr_cpp_api }}localized-barcode-element.html" class="otherLinkColour">CLocalizedBarcodesElement</a></li>
                <li lang="cplusplus"><a href="{{ site.dbr_cpp_api }}decoded-barcode-element.html" class="otherLinkColour">CDecodedBarcodeElement</a></li>
                <li lang="cplusplus"><a href="{{ site.dlr_cpp_api }}localized-text-line-element.html" class="otherLinkColour">CLocalizedTextLineElement</a></li>
                <li lang="cplusplus"><a href="{{ site.dlr_cpp_api }}recognized-text-line-element.html" class="otherLinkColour">CRecognizedTextLineElement</a></li>
                <li lang="cplusplus"><a href="{{ site.ddn_cpp_api }}detected-quad-element.html" class="otherLinkColour">CDetectedQuadElement</a></li>
                <li lang="cplusplus"><a href="{{ site.ddn_cpp_api }}normalized-image-element.html" class="otherLinkColour">CNormalizedImageElement</a></li>                
                <li lang="cplusplus"><a href="{{ site.dbr_cpp_api }}extended-barcode-result.html" class="otherLinkColour">CExtendedBarcodeResult</a></li>
            </ul>
        </li>
        <li lang="cplusplus"><a style="cursor:pointer;color:#3c3c3c">Detailed Barcode Results</a>
            <ul lang="cplusplus">
                <li lang="cplusplus"><a href="{{ site.dbr_cpp_api }}aztec-details.html" class="otherLinkColour">CAztecDetails</a></li>
                <li lang="cplusplus"><a href="{{ site.dbr_cpp_api }}barcode-details.html" class="otherLinkColour">CBarcodeDetails</a></li>
                <li lang="cplusplus"><a href="{{ site.dbr_cpp_api }}datamatrix-details.html" class="otherLinkColour">CDataMatrixDetails</a></li>
                <li lang="cplusplus"><a href="{{ site.dbr_cpp_api }}oned-code-details.html" class="otherLinkColour">COneDCodeDetails</a></li>
                <li lang="cplusplus"><a href="{{ site.dbr_cpp_api }}pdf417-details.html" class="otherLinkColour">CPDF417Details</a></li>
                <li lang="cplusplus"><a href="{{ site.dbr_cpp_api }}qr-code-details.html" class="otherLinkColour">CQRCodeDetails</a></li>
            </ul>
        </li>
        <li lang="cplusplus"><a style="cursor:pointer;color:#3c3c3c">State Listener</a>
            <ul lang="cplusplus">
                <li lang="cplusplus"><a href="{{ site.cpp_api }}capture-vision-router/capture-state-listener.html" class="otherLinkColour">CCaptureStateListener</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}capture-vision-router/image-source-state-listener.html" class="otherLinkColour">CImageSourceStateListener</a></li>
            </ul>
        </li>
        <li lang="cplusplus"><a style="cursor:pointer;color:#3c3c3c">License</a>
            <ul lang="cplusplus">
                <li lang="cplusplus"><a href="{{ site.cpp_api }}license/license-manager.html" class="otherLinkColour">CLicenseManger</a></li>
            </ul>
        </li>
        <li lang="cplusplus"><a style="cursor:pointer;color:#3c3c3c">Basic Structures</a>
            <ul lang="cplusplus">
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/contour.html" class="otherLinkColour">CContour</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/corner.html" class="otherLinkColour">CCorner</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/edge.html" class="otherLinkColour">CEdge</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/file-image-tag.html" class="otherLinkColour">CFileImageTag</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/image-data.html" class="otherLinkColour">CImageData</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/image-tag.html" class="otherLinkColour">CImageTag</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/line-segment.html" class="otherLinkColour">CLineSegment</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/pdf-reading-parameter.html" class="otherLinkColour">CPDFReadingParameter</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/point.html" class="otherLinkColour">CPoint</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/quadrilateral.html" class="otherLinkColour">CQuadrilateral</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/rect.html" class="otherLinkColour">CRect</a></li>
                <li lang="cplusplus"><a href="{{ site.cpp_api }}core/basic-structures/video-frame-tag.html" class="otherLinkColour">CVideoFrameTag</a></li>
            </ul>
        </li>
        <li lang="cplusplus"><a style="cursor:pointer;color:#3c3c3c">Structs</a>
            <ul lang="cplusplus">
                <li lang="cplusplus"><a href="{{ site.cpp_api }}simplified-capture-vision-settings.html"  class="otherLinkColour">SimplifiedCaptureVisionSettings</a></li>
                <li lang="cplusplus"><a href="{{ site.dbr_cpp_api }}simplified-barcode-reader-settings.html"  class="otherLinkColour">SimplifiedBarcodeReaderSettings</a></li>
                <li lang="cplusplus"><a href="{{ site.dlr_cpp_api }}simplified-label-recognizer-settings.html"  class="otherLinkColour">SimplifiedLabelRecognizerSettings</a></li>
            </ul>
        </li>

        <li lang="cplusplus"><a style="cursor:pointer;color:#3c3c3c">Enumerations</a>
            <ul lang="cplusplus">
                <li lang="cplusplus"><a href="{{ site.enums}}barcode-reader/qr-code-error-correction-level.html"  class="otherLinkColour">QRCodeErrorCorrectionLevel</a></li>
                <li lang="cplusplus"><a href="{{ site.enums}}barcode-reader/localization-mode.html"  class="otherLinkColour">LocalizationMode</a></li>
                <li lang="cplusplus"><a href="{{ site.enums}}barcode-reader/extended-barcode-result-type.html"  class="otherLinkColour">ExtendedBarcodeResultType</a></li>
                <li lang="cplusplus"><a href="{{ site.enums}}barcode-reader/deblur-mode.html"  class="otherLinkColour">DeblurMode</a></li>
                <li lang="cplusplus"><a href="{{ site.enums}}barcode-reader/barcode-format.html"  class="otherLinkColour">BarcodeFormat</a></li>
                <li lang="cplusplus"><a href="{{ site.enums}}capture-vision-router/capture-state.html"  class="otherLinkColour">CaptureState</a></li>
                <li lang="cplusplus"><a href="{{ site.enums}}code-parser/mapping-status.html"  class="otherLinkColour">MappingStatus</a></li>
                <li lang="cplusplus"><a href="{{ site.enums}}code-parser/valiadtion-status.html"  class="otherLinkColour">ValiadtionStatus</a></li>
                <li lang="cplusplus"><a href="{{ site.enums}}core/buffer-overflow-protection-mode.html"  class="otherLinkColour">BufferOverflowProtectionMode</a></li>
                <li lang="cplusplus"><a href="{{ site.enums}}core/captured-result-item-type.html"  class="otherLinkColour">CapturedResultItemType</a></li>
                <li lang="cplusplus"><a href="{{ site.enums}}core/corner-type.html"  class="otherLinkColour">CornerType</a></li>
                <li lang="cplusplus"><a href="{{ site.enums}}core/error-code.html"  class="otherLinkColour">ErrorCode</a></li>
                <li lang="cplusplus"><a href="{{ site.enums}}core/gray-scale-transformation-mode.html"  class="otherLinkColour">GrayscaleTransformationMode</a></li>
                <li lang="cplusplus"><a href="{{ site.enums}}core/image-capture-distance-mode.html"  class="otherLinkColour">ImageCaptureDistanceMode</a></li>
                <li lang="cplusplus"><a href="{{ site.enums}}core/image-pixel-format.html"  class="otherLinkColour">ImagePixelFormat</a></li>
                <li lang="cplusplus"><a href="{{ site.enums}}core/image-source-state.html"  class="otherLinkColour">ImageSourceState</a></li>
                <li lang="cplusplus"><a href="{{ site.enums}}core/image-tag-type.html"  class="otherLinkColour">ImageTagType</a></li>
                <li lang="cplusplus"><a href="{{ site.enums}}core/intermediate-result-unit-type.html"  class="otherLinkColour">IntermediateResultUnitType</a></li>
                <li lang="cplusplus"><a href="{{ site.enums}}core/pdf-reading-mode.html"  class="otherLinkColour">PDFReadingMode</a></li>
                <li lang="cplusplus"><a href="{{ site.enums}}core/region-object-element-type.html"  class="otherLinkColour">RegionObjectElementType</a></li>
                <li lang="cplusplus"><a href="{{ site.enums}}core/section-type.html"  class="otherLinkColour">SectionType</a></li>
                <li lang="cplusplus"><a href="{{ site.enums}}core/target-type.html"  class="otherLinkColour">TargetType</a></li>
                <li lang="cplusplus"><a href="{{ site.enums}}core/video-frame-quality.html"  class="otherLinkColour">VideoFrameQuality</a></li>
            </ul>
        </li>
    </ul>
</li>