<li lang="{{include.lang}}"><a href="{{ site.dcvb_parameters }}file/index.html" class="otherLinkColour">Parameter Organization</a>
    <ul>
        <li><a href="{{ site.dcvb_parameters }}file/capture-vision-template.html" class="otherLinkColour">CaptureVisionTemplate Object</a></li>
        <li><a href="{{ site.dcvb_parameters }}file/image-source.html" class="otherLinkColour">ImageSource Object</a></li>
        <li><a href="{{ site.dcvb_parameters }}file/target-roi-definition/index.html" class="otherLinkColour">TargetROIDef Object</a></li>
        <li><a href="{{ site.dcvb_parameters }}file/task-settings/barcode-reader-task-settings.html" class="otherLinkColour">BarcodeReaderTaskSetting Object</a></li>
        <li><a href="{{ site.dcvb_parameters }}file/task-settings/label-recognizer-task-settings.html" class="otherLinkColour">LabelRecognizerTaskSetting Object</a></li>
        <li><a href="{{ site.dcvb_parameters }}file/task-settings/document-normalizer-task-settings.html" class="otherLinkColour">DocumentNormalizerTaskSetting Object</a></li>
        <li><a href="{{ site.dcvb_parameters }}file/task-settings/code-parser-task-settings.html" class="otherLinkColour">CodeParserTaskSetting Object</a></li>
        <li><a href="{{ site.dcvb_parameters }}file/task-settings/output-task-setting.html" class="otherLinkColour">OutputTaskSetting Object</a></li>
        <li><a href="{{ site.dcvb_parameters }}file/image-parameter.html" class="otherLinkColour">ImageParameter Object</a></li>
        <li><a href="{{ site.dcvb_parameters }}file/auxiliary/barcode-format-specification.html" class="otherLinkColour">BarcodeFormatSpecification Object</a></li>
        <li><a href="{{ site.dcvb_parameters }}file/auxiliary/textline-specification.html" class="otherLinkColour">TextLineSpecification Object</a></li>
        <li><a href="{{ site.dcvb_parameters }}file/auxiliary/character-model.html" class="otherLinkColour">CharacterModel Object</a></li>
        <li><a href="{{ site.dcvb_parameters }}file/auxiliary/global-parameter.html" class="otherLinkColour">Global Parameter</a></li>
        <li><a href="{{ site.dcvb_parameters }}file/semantic-processing/index.html" class="otherLinkColour">SemanticProcessing Object</a></li>
    </ul>
</li>